include  ../../users/dashboard
// Content Wrapper. Contains page content
.content-wrapper
    // Content Header (Page header)
    section.content-header
        h1
            | Data Raport
        ol.breadcrumb
            li
                a(href='#')
                    i.fa.fa-dashboard
                    |  Home
            li
                a(href='#') Tables
            li.active Data tables
    // Main content
    section.content
        .row
            .col-xs-12
                // /.box-body
                // /.box
                .box
                    .box-body
                        .box.box-info
                            .box-header.with-border
                                h3.box-title Input data raport
                            // /.box-header
                            // form start
                            form.form-horizontal(method="post", action="/inputdataraport", role='form')
                                .box-body
                                    .form-group
                                        label.col-sm-2.control-label(for='no') No
                                        .col-sm-10
                                            input#no.form-control(type='text' required name="no" placeholder='No')
                                    .form-group
                                        label.col-sm-2.control-label(for='mapel') Mata Pelajaran
                                        .col-sm-10
                                            input#mapel.form-control(type='text' required name="mapel" placeholder='Mata Pelajaran')
                                    .form-group
                                        label.col-sm-2.control-label(for='kkm') KKM
                                        .col-sm-10
                                            input#kkm.form-control(type='text' required name="kkm" placeholder='KKM')
                                    .form-group
                                        label.col-sm-2.control-label(for='nilaiangka') Nilai Angka
                                        .col-sm-10
                                            input#nilaiangka.form-control(type='text' required name="nilaiangka" placeholder='Nilai Angka')
                                    .form-group
                                        label.col-sm-2.control-label(for='nilaihuruf') Nilai Huruf
                                        .col-sm-10
                                            input#nilaihuruf.form-control(type='text' required name="nilaihuruf" placeholder='Nilai Huruf')
                                    .form-group
                                        label.col-sm-2.control-label(for='kemampuanbelajar') Kemampuan Belajar
                                        .col-sm-10
                                            input#kemampuanbelajar.form-control(type='text' required name="kemampuanbelajar" placeholder='Kemampuan Belajar')


                                // /.box-body
                                .box-footer
                                    button.btn.btn-info.pull-right(type='submit') Input Data
                                // /.box-footer

